@import 'variables';

.pagination {
    pointer-events: all;

    ul, li {
      display: inline;
      margin: 0;
      padding: 0;
    }

    li {
      background: $sliding-pagination-background-primary;
      color: $sliding-pagination-foreground-primary;

      padding: .6em;
      border-radius: .2em;
      margin-right: .2em;

      transition-duration: $sliding-pagination-transition-duration;
      transition-property: background, color;

      &:hover {
        transition-duration: $sliding-pagination-transition-duration;
        transition-property: background, color;

        color: $sliding-pagination-foreground-secondary;
        background: $sliding-pagination-background-secondary;
      }

      &:last-of-type {
        margin-right: 0;
      }

      a {
        color: inherit;
        padding: 0;
        margin: 0;
        text-decoration: none;
      }

      a[disabled] {
        pointer-events: none;
        cursor: pointer;
      }

      &.active {
        background: $sliding-pagination-background-secondary;
        color: $sliding-pagination-foreground-secondary;
      }

      &.active:hover {
        color: $sliding-pagination-foreground-primary;
        background: $sliding-pagination-background-primary;
      }
    }

    margin-bottom: 2.4em;
  }
